.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: #fff;
    border: 0;
    border-bottom: 10px solid transparent;
    border-image: linear-gradient(to right, #A7A9AC, var(--cfs-lightgray)) 1;
    position: relative;
    z-index: 9999;/*keep header overlapped for brands page iamges */
    }

@media all and (max-width: 767px) {
    .header {
        flex-direction: column;
        padding: 20px 0;
    }
}
