.nav {
  width: 100%;
}

.navItem {
  display: inline-block !important;
  width: auto;
}

.popover {
  width: 100%;
  max-width: 30vw !important;
}

@media all and (max-width: 767px) {
  .nav {
    display: none !important;
  }

  .navItem {
    display: none;
  }

  .popover {
    max-width: 100%;
  }
}