.whatsNextBlockWrap {
  margin: 2em auto;
}
.whatsNextBlockLink {
  text-decoration: none;
}

  .whatsNextBlock {
    background-color: white;
    text-align: center;
    border:2px solid white;
    border-radius: 6px;
    padding: 10px;
    color: var(--cfs-black);
    justify-content: space-around;
    align-items: center;
    max-width: 300px;
    margin: auto;


}
.whatsNextBlock a {
  text-decoration: none;
}

@media (min-width: 576px) {
  .whatsNextBlock {
    text-align: left;
    display: flex;
    align-items: center;

  }
}
.whatsNextBlock:hover {
  border:2px solid;
  border-color:var(--cfs-lightgray);
}

.whatsNextBlock a {
  text-decoration: none;

}
.whatsNextIcon {
  padding: 1em 16px 1em 0;
}

.linkRed {
  color: var(--cfs-red) !important;
  margin-top: 4px !important;
  text-decoration: underline !important;
  font-weight: bold;
  display: block;
}