@import url("https://use.typekit.net/cjd3qpj.css");
/* avaialbe font wieghts: 400, 700, 900 */
:root {
  --cfs-font: azo-sans-web, sans-serif !important;
 --bs-font-sans-serif: azo-sans-web, sans-serif !important;
    /* setup CFS brand color vars : */
  --cfs-red: #B80720;
  --cfs-accent:#D02630;
  --cfs-black:#000000;
  --cfs-white:#ffffff;
  --cfs-gray: #404040;
  --cfs-lightgray:#F7F5F2;
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

   

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --primary-glow: conic-gradient(
    from 180deg at 50% 50%,
    #16abff33 0deg,
    #0885ff33 55deg,
    #54d6ff33 120deg,
    #0071ff33 160deg,
    transparent 360deg
  );
  --secondary-glow: radial-gradient(
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );

  --tile-start-rgb: 239, 245, 249;
  --tile-end-rgb: 228, 232, 233;
  --tile-border: conic-gradient(
    #00000080,
    #00000040,
    #00000030,
    #00000020,
    #00000010,
    #00000010,
    #00000080
  );

  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
    --secondary-glow: linear-gradient(
      to bottom right,
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0.3)
    );

    --tile-start-rgb: 2, 13, 46;
    --tile-end-rgb: 2, 5, 19;
    --tile-border: conic-gradient(
      #ffffff80,
      #ffffff40,
      #ffffff30,
      #ffffff20,
      #ffffff10,
      #ffffff10,
      #ffffff80
    );

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: var(--cfs-font) !important;
}


html,
body {
  font-family: var(--cfs-font) !important;
  max-width: 100vw;
  overflow-x: hidden;
}

body {

  font-family: var(--cfs-font) !important;
  color: (var(--cfs-black));
  /*color: rgb(var(--foreground-rgb));*/
 /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));*/
}

a {

  color: var(--cfs-red);
  text-decoration: none;
}
a span  /* fixfor links inside wp content */
{
  color: var(--cfs-red);
  text-decoration: none;  
}

a:hover {
  color: var(--cfs-accent);
}
a:hover span  /* fixfor links inside wp content */
{
  color: var(--cfs-accent);
  text-decoration: none;  
}

/* reset active states from bootstrap */
.btn-check:active+.btn-primary, .btn-check:checked+.btn-primary, .btn-primary.active, .btn-primary:active, .show>.btn-primary.dropdown-toggle { 
  color: var(--cfs-white);
  background-color: var(--cfs-black);
  border-color: var(--cfs-red);
}
.btn-check:focus+.btn-primary, .btn-primary:focus {
  color: #fff;
  background-color:var(--cfs-accent);
  border-color:var(--cfs-red);
  box-shadow: 0 0 0 0.25rem rgba(255,0,0,0.3);
}

  .btn-check:focus+.btn, .btn:focus {
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(191,21,27,0.3);
  }


/* typography */
h1 {
  font-size: 3rem;
	font-weight: 700;
	color: var(--cfs-red);
  margin-bottom: 2rem;

}

h2 {
  font-size: 2.65rem;
	font-weight: 900 !important;
	color: var(--cfs-red);
}

h3 {
  font-size: 2rem;
  font-weight: 700 !important;
  color: var(--cfs-black);
}

h4 {
  font-size: 1.5rem;
  font-weight: 900 !important;
  color: var(--cfs-black);
}

.centered {
  text-align: center;
}

.head-underline  {
  padding-bottom: 1rem;
  position: relative;
  text-decoration: none;
  margin-bottom: 0;
}

.head-underline::after {
   background: linear-gradient(to right, transparent 0%, #A7A9AC 50%, transparent 100%);  
  content: "";
  display: block;
  height: 4px;
  width: 50%;
  margin:12px auto;
  text-align: center;
}
/* post container font size */
.pageHeader p {
  font-size: 1.4rem;
}

section p {
  font-size: 1.2rem;
}
/* buttons here! */
.btn-link {
    color: var(--cfs-black);
    
    font-weight: 700;
    font-size: 18px;
    text-decoration: none;
    margin-top: 16px;

}
.btn-link:hover {
  color: var(--cfs-accent);
}

.btn-primary {
  border: 2px solid var(--cfs-red);
  border-radius: 0;
  background-color: var(--cfs-white);
  color:var(--cfs-black);
  font-weight: 700;
  font-size: 20px;
}
.btn-primary:hover {
  background-color: var(--cfs-accent);
  border: 2px solid var(--cfs-red);
}
/*
.arrow a:link {
  color: var(--cfs-red);
  transition: all .2s ease-in;
}*/
.arrow::after {
  content: " →";
  font-size: 1.25rem;
  font-weight: 700;
  color: var(--cfs-gray);
  position: relative;
  display: inline-block;
  right:-4px;
  top:2px;
  transition: all .2s ease-in;
}

.arrow:hover::after {
  transform: translateX(4px);
}

/*
.arrow a:hover {
  color: var(--cfs-accent);
}
*/



 /* colors as classes */
 .red {
  color: var(--cfs-red);
}


.section {
  padding-top:2em;
  padding-bottom: 3em;
}
/* CARDS */

.card-title {
  font-weight: 900;
}
.card-title  a:link, .card-title a:visited {
  color: var(--cfs-red);
  transition: all .2s ease-in;
}
.card-title a:link::after, .card-title a:visited::after {
  content: " →";
  font-size: 1.25rem;
  font-weight: 900;
  color: #A7A9AC !important;
  position: relative;
  right:0px;
  transition: all .2s ease-in;
}

.card-title a:hover {
  color: var(--cfs-black);
}

/* SLICK */
.slick-dots li.slick-active button:before {
  opacity: 1;
  color: var(--cfs-red);
}
.slick-dots li button:before {
  font-size: 20px;
}

.slick-dots li button:before {
  color: var(--cfs-red) !important;
  font-size: 14px !important;
}



.card:hover {
  cursor: pointer;
}

.card > :first-child {
   background-color: var(--cfs-white);
}
.card a {
  overflow: hidden;
}
.card a:hover img {
  transform: scale(1.1);
  transition: all .2s ease-in-out;
}

.card img {
 opacity:1;
  transition: all .2s ease-in;
}


/* brand banners */
.promotionBanner {
  margin:2.5em auto;
  display: flex;
  max-width: 100%;
  height: auto;
}

a img:hover {
  cursor: pointer;
}

.hidden {
  display: none !important;
}

.text--red {
  color: var(--cfs-red);
}


html body .btn-primary {
  background-color: var(--cfs-red);
  color: #fff;
}