.mobileNav {
  display: none;
  background: rgba(255,255,255,.90);
  position: fixed;
  right: 0px;
  top: 0px;
  height: 100vh;
  z-index: 9999;
  min-width: 80vw;
  padding: 8px;
}

.nav {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  text-align: left;
}

.nav li {
  padding: 8px;
  border-bottom: 1px solid #ccc;
}

.tile {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100px;
}

@media all and (max-width: 767px) {
  .mobileNav {
    display: none;
  }
}