.primaryFooter, .legalFooter {
  padding: .8em 0 .5em;
}

.primaryFooter {
  border-top: 10px solid #A90B1B;
}

.footerLogo {
  margin: .25em 0;
  text-align: center;
}

.footerLinkList {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.footerLinkList li {
  margin-bottom: .75em;
}
.footerLinkList li a:link, .footerLinkList li a:visited {
color: var(--cfs-black);
text-decoration: none;
}

.footerLinkList li a:hover, .footerLinkList li a:active {
  color: var(--cfs-accent);
  text-decoration: underline;
  }
.legalFooter{
  background: linear-gradient(to bottom, #F5F7F8 0%,#A7A9AC 100%);
  text-align: center;
}

.legalFooter a, .legalFooter a:link {
  font-size: 12px;
  color: var(--cfs-gray);
  text-decoration: underline;
}

.needHelpBlock {
  margin: .25em auto;
  text-align: center;
}


.needHelpBlock h4 {
  font-size: 1.2em;
}

.telephoneBlock  {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;

}

.telephoneIcon {
  color:var(--cfs-gray);
}

.telephoneNum a:link, .telephoneNum a:visited {  
  color: var(--cfs-red);
  font-size: 1.5em;
  font-weight: 700;
  line-height: 0;
}

.telephoneNum a:hover, .telephoneNum a:active  {  
  color: var(--cfs-accent);
}

.socialBlock {
  margin: auto;
  text-align: center;
  margin-top: 1em;
}

.redIcon {
  color: var(--cfs-red);
  padding: 0;
  margin: auto;
  margin-bottom: 1em;
  text-align: center;
}

.redIcon svg {
  margin: .2em;
}
.redIcon a:link, .redIcon a:visited {
  color: var(--cfs-red);
  text-decoration: none;
}

.redIcon a:hover, .redIcon a:active {
  color: var(--cfs-accent);
} 


.legalMenu {
  margin: 0;
  padding: 0;
  margin-bottom: 1em;
}

.legalMenu li {
  display: inline-block;
  padding: 0 .25em;
}

.copyRightBlock {
  font-size: .7em;
  text-align: left;
}



/* add extra space bet links */
/* un center everything */
@media screen and (min-width: 768px) {
  .legalFooter a:link {
    padding: 0 12px;
  }
  .needHelpBlock, .socialBlock, .redIcon  {
    text-align: left;
  }
  .telephoneBlock {
    justify-content: left;
  } 
}
