.menuBox {
  position: absolute;
  top: 60;
  right: 0;
  background-color: #fff;
  width: 50vw !important;
  max-width: 500px;
  border: 1px solid #ccc;
  border-top: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 0.5rem;
}

/* Should have no border, #e8e8e8 background, font-size: .9rem */
.searchInput {
  border: none !important;
  background-color: #f2f2f2 !important;
  font-size: 0.9rem!important;;
  padding: 0.5rem 15px !important;;
  width: 100%;
  box-sizing: border-box;
}

.searchBox {
  position: relative;
}

@media all and (max-width: 767px) {
  .searchBox {
    display: none !important;
  }
  .menuBox {
    display: none !important;
  }
}