.menuBox {
  position: absolute;
  top: 60;
  right: 0;
  background-color: #fff;
  width: 50vw !important;
  max-width: 500px;
  border: 1px solid #ccc;
  border-top: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 0.5rem;
}

.searchBox {
  position: relative;
}

@media all and (max-width: 767px) {
  .searchBox {
    display: none !important;
  }
  .menuBox {
    display: none !important;
  }
}